.benefits {

    &__list {
        margin-left:28px;
        margin-right:10px;
        margin-bottom:-10px;

        @media screen and (max-width: 575px){
            margin-left:0px;
            margin-right:0px;
            margin-bottom:52px;
        }
    }

    &__wrapper{
        position: relative;
        min-width: 100%;
        padding-top: 88px;
        text-align: center;
        margin-top:78px;
        margin-bottom:38px;
        position: relative;
        border:1px solid #FB7710;
        min-height: 294px;

        @media screen and (max-width: 575px){
            padding-top: 56px;
            min-height: 166px;
            margin-bottom:-14px;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        top:-78px;
        left:50%;
        transform: translateX(-50%);
        width: 155px;   
        height: 155px;
        position: absolute;
        background:#323134;
        border:10px solid white;
        border-radius: 50%;
        &--img {
            @media screen and (max-width: 575px){
                width: 50px;   
                height: 50px;
                align-content: center;
            }
        }

        @media screen and (max-width: 575px){
            width: 100px;   
            height: 100px;
            top:-52px;
        }
    }

    &__title{
        display: flex;
        align-items: center;
        flex-direction: column;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        text-transform: uppercase;
        margin-bottom:16px;

        &:after {
            content: '';
            border-top: 6px solid #FB7710;
            margin-top:12px;
            width: 30px;
            @media screen and (max-width: 575px) {
                border-top: 2px solid #FB7710;
                width: 16px;
            }
        }

        @media screen and (max-width: 575px){
            font-size: 15px;
            line-height: 10px;
            margin-bottom:14px;
        }
    }
    &__subtitle {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        padding: 0 22px;
        margin-bottom:22px;
        -webkit-line-clamp: 2;

        @media screen and (max-width: 575px){
            font-size: 13px;
            line-height: 16px;
            padding:0 10px;
        }
    }

    &__time{
        position: absolute;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color:#FB7710;
        left: 50%;
        bottom: 40px;
        transform: translateX(-50%);

        @media screen and (max-width: 575px){
            font-size: 15px;
            line-height: 18px;
            bottom: 10px;
        }
    }
}