.benefits-short {
    &__list {
        padding:0 10px 0 35px;
        margin-bottom: 58px;

        @media screen and (max-width: 767px) {
            br {
                display: none;
            }
            padding-left:0;
        }

        @media screen and (max-width: 575px) {
            padding-left:10px;
            margin-bottom:28px;
        }
    }
    &__img {
        height: 85px;

        @media screen and (max-width: 575px) {
            & img {
                width: 50px;
                height: 50px;
            }
            margin-bottom:5px;
            height: 54px;
        }

        &--pie-chart {
            padding-top:3px;
        }
        &--analitics {
            padding-top:8px;
            padding-left:2px;
        }
    }
    &__subtitle {
        padding-top:2px;
        font-weight: 600;
        font-size:20px;
        line-height: 24px;
        color: white;
        text-align: center;

        & span {
            font-weight: 600;
            font-size: 30px;
            line-height: 40px;
            color: #fb7710;
            text-transform: uppercase;

            @media screen and (max-width: 575px) {
                font-size: 20px;
                line-height: 24px;
            }
        }

        @media screen and (max-width: 767px) {
            margin-bottom:40px;
        }

        @media screen and (max-width: 575px) {
            text-align: center;
            font-size: 15px;
            line-height: 18px;
            margin-bottom:14px;
        }
    }

}