mixin benefits-short
    .benefits-short
        .benefits-short__list
            .row
                .col-xl-4.col-lg-4.col-md-4.col-sm-12.d-flex.align-items-center.flex-column.justify-content-center
                    .benefits-short__img.benefits-short__img--pie-chart
                        img(src="./icons/pie-chart.svg")
                    .benefits-short__subtitle
                        p Оценка <br><span> где </span> расти
                .col-xl-4.col-lg-4.col-md-4.col-sm-12.d-flex.align-items-center.flex-column.justify-content-center
                    .benefits-short__img.benefits-short__img--analitics
                        img(src="./icons/analitics.svg")
                    .benefits-short__subtitle
                        p Определение <br><span> что </span> взращивать
                .col-xl-4.col-lg-4.col-md-4.col-sm-12.d-flex.align-items-center.flex-column.justify-content-center
                    .benefits-short__img.benefits-short__img--idea
                        img(src="./icons/idea.svg")
                    .benefits-short__subtitle
                        p Реализация <br><span> как </span> расти