* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'MuseoSans';
}

body {
    font-family: inherit;
    top: 0;
}

a {
    text-decoration: none;
    outline: 0;

    &:hover,
    &:active,
    &:focus {
        outline: 0;
    }
    
}

.container {
    &--lg {
        max-width: 1180px;
    }
}